{% extends 'layout.html' %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
    <h2 class=" m-t-2">{{post.title}}</h2>
    <hr/>
    <p>
        <!--<span class="p-r-1">{{post.time}}</span>-->
        {% for i,v in post.tags %}
        <span class="label label-info">{{ post.tags[i] }}</span>
        {% endfor %}
    </p>
    <div id="articleDetail">
        {{post.content | raw}}
    </div>
</div>
{% endblock%}

{% block script %}
<script src="/js/markdown.min.js"></script>
<script>
//    var articleWrap = document.querySelector("#articleDetail");
//    var sourceMd = articleWrap.innerText;
//    articleWrap.innerHTML = markdown.toHTML(sourceMd);
</script>
{% endblock %}