{% extends 'layout.html' %}

{% block content %}
<h2>添加博客</h2>
<form action="/post" method="post">
    <fieldset class="form-group">
        <label for="blogHead">博客标题</label>
        <input type="text" name="title" class="form-control" id="blogHead" placeholder="请输入标题">
    </fieldset>
    <fieldset class="form-group">
        <label for="blogTextarea">正文内容</label>
        <textarea class="form-control" name="content" placeholder="请输入博客正文" id="blogTextarea" rows="13"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <label for="blogType">博客标签</label>
        <input type="text" name="tags" class="form-control" id="blogType" placeholder="请输入标签，多个标签以英文逗号分隔">
    </fieldset>
    <button type="submit" class="btn btn-primary">保存</button>
</form>
{% endblock %}