{% extends 'layout.html' %}

{% block content %}
<h2>添加博客</h2>
{% if edit %}
<form action="/login/edit/{{ post.id }}" method="post">
{% else %}
<form action="/login/post" method="post">
{% endif %}
    <fieldset class="form-group">
        <label for="blogHead">博客标题</label>
        <input type="text" name="title" class="form-control" id="blogHead" placeholder="请输入标题" value="{{ post.title }}">
    </fieldset>
    <fieldset class="form-group">
        <label for="blogTextarea">正文内容</label>
        <textarea class="form-control" name="content" placeholder="请输入博客正文，支持MarkDown语法" id="blogTextarea" rows="13">{{ post.content }}</textarea>
    </fieldset>
    <fieldset class="form-group">
        <label for="blogType">博客标签</label>
        <input type="text" name="tags" class="form-control" id="blogType" value="{{ post.tags }}" placeholder="请输入标签，多个标签以英文逗号分隔">
    </fieldset>
    <button type="submit" class="btn btn-primary">保存</button>
    <a href="javascript:window.history.back();" role="button" class="btn btn-secondary">取消</a>
</form>
{% endblock %}
